name: Non-prod releases

on:
  push:
    branches:
      - 'cicd'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
       CI_REGISTRY_IMAGE: ghcr.io/kobotoolbox/ee-extra-widgets

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        run: |
          CI_COMMIT_REF_NAME_SANITIZED=${GITHUB_REF_NAME/\#/-}
          CI_COMMIT_REF_NAME_SANITIZED=${GITHUB_REF_NAME//\//-}
          docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME_SANITIZED || true
          docker build --cache-from $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME_SANITIZED --tag $CI_REGISTRY_IMAGE:$GITHUB_SHA --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME_SANITIZED .
          docker push $CI_REGISTRY_IMAGE:$GITHUB_SHA
          docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME_SANITIZED

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
       CI_REGISTRY_IMAGE: ghcr.io/kobotoolbox/ee-extra-widgets
    strategy:
      matrix:
        environment: [unu]

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-region: us-east-1
          role-to-assume: "arn:aws:iam::917503078660:role/gha_all_repos"
          role-duration-seconds: 2200
          role-session-name: github_actions_${{ github.run_id }}

      - uses: alexellis/arkade-get@master
        with:
          kubectl: ${{ vars.KUBECTL_VERSION }}
          helm: ${{ vars.HELM_VERSION }}

      - name: Update kubeconfig
        run: |
         aws eks --region us-east-1 update-kubeconfig --name kobo

      - name: Deploy to ${{ matrix.environment }}
        run: |
          helm -n kobo-dev upgrade ${{ matrix.environment }} \
          oci://ghcr.io/kobotoolbox/ee-extra-widgets \
          --atomic \
          --set-string enketo.image.tag=${GITHUB_SHA} \
          --set enketo.image.repository=$CI_REGISTRY_IMAGE \
          --reuse-values